name: Build'n'release

on:
    push:
        tags:
            - '*'

permissions:
    contents: write

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Set up Go
                uses: actions/setup-go@v5
                with:
                    go-version: ~1.22.0
            -   name: release dry run
                run: make release-dry-run
            -   name: setup release environment
                run: |-
                    echo 'GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}' > .release-env
            -   name: release publish
                run: make release